* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
  }

  h1 {
    color: white;
    text-align: center;
    padding: 10px;
  }

  body {
    background-color: #202023;
  }

  .block {
    border: 1px solid black;
    border-radius: 20px;
    background: #999999;
    margin: 20px;
  }
  
  .block-content {
    float: left;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 10px;
  }

  .block-title {
    text-align: right;
    border: 3px solid #202124;
    border-radius: 0px 20px 0px 20px;
    float: right;
    flex-flow: row;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: -3px;
    margin-right: -3px;
    font-size: 20px;
  }

  #bt1 {
    background-color: #d59898;
  }

  #bt2 {
    background-color: #c14543;
  }

  #bt3 {
    background-color: #e5d198;
  }
  
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
    .block {
      height: 180px;
    }
    .block-content {
      margin-top: 20px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
    .block {
      height: 150px;
    }
  }

  @media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      width: 100%;
    }
    .block {
      height: 200px;
    }
    .block-content {
      padding-top: 8px;
    }
  }
  