* {
    box-sizing: border-box;
  }

  h1 {
    font-size: 3em;
    text-align: center;
    padding: 20px;
    color: #EF8354;
    font-weight: 100;
    letter-spacing: 2px;
  }

  span {
    border: 2px solid #4F5D75;
    padding: 10px;
    margin-right: 10px;
  }

  body {
    background: #2D3142;
    font-family: 'Raleway', sans-serif;
  }

  .block {
    border: 1px solid black;
    background: #828c9e;
    margin: 20px;
    overflow: hidden;
    height: 20%;
  }

  .block:hover {
    cursor: pointer;
  }
  
  .block-content {
    float: left;
    padding: 10px;
    padding-top: 0;
    margin: 20px;
  }

  .block-title {
    text-align: right;
    border: 1px solid black;
    float: right;
    flex-flow: row;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: -3px;
    margin-top: -2px;
    font-size: 20px;
  }

  #bt1 {
    background-color: #DC6976;
  }

  #bt2 {
    background-color: #B0608C;
  }

  #bt3 {
    background-color: #795D8D;
  }
  
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      width: 100%;
    }
  }